<p>
I provide consultancy, support and design services in the following areas: 
</p>

<p>
<ul>
  <li>Cloud (AWS, Google)</li>
  <li>Linux</li>
  <li>Container solutions (Docker, Kubernetes)</li>
  <li>Automation (Puppet, Ansible, Bash, Python)</li>
  <li>CI/CD (Gitlab CI, Jenkins)</li>
  <li>Virtualization (KVM, VMWare)</li>
</ul>
</p>

<p>
As a certified and accredited trainer for Docker, Hashicorp and Kubernetes I can also deliver various trainings and workshops in the container technology space.</p>
